@page
@model Owl_Ops_Webserver.Pages.Measures.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table" style="margin-bottom: 100px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Measurement[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Measurement[0].Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Measurement[0].Time)
            </th>
            <th>
                Sensor ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Measurement) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sensor_ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>

</table>
